/* cvaar Globales */
:root {
    --primary-100: #FAF5FF;
    --primary-200: #d4c2dc; /*boton de carrito*/
    --primary-400: #99749e;
    --primary-700: #442467; /*botones Ver Producto*/

    --neutral-100: #FFFFFF;
    --neutral-200: #EAEAEA; /* Un gris más suave */
    --neutral-800: #434343;
    --neutral-900: #242424;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-etiqueta: 13px;
    --font-size-subtitulo: 39px;
}

/* Estilos Generales */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--primary-100);
    color: var(--neutral-900);
    margin: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
    height: 100vh;
}

.top-header {
    grid-area: header;
    background: white;
    border-bottom: 1px solid var(--neutral-200);
    display: flex;
    justify-content: space-between; /* logo a la izq, botones a la der */
    align-items: center;
    padding: 0 30px;
    height: 80px; /* Un poco más de altura */
}

.logo img {
    height: 45px; /* Ajustable */
    width: auto;
}

.sidebar { grid-area: sidebar; background: white; border-right: 1px solid var(--neutral-200); padding-top: 20px; text-align: center; }
.main-content { grid-area: main; overflow-y: auto; padding: 40px; }


.card {
    border-radius: 16px !important; /* Bordes redondeados */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1) !important;
}
.card-img-top {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.card-title { font-size: 1rem; }
.card-text { font-size: 0.9rem; }
.primary-button, .btn-primary {
    background-color: var(--primary-700) !important;
    border-color: var(--primary-700) !important;
    font-weight: bold;
}

.menu-icon, .logo { display: none; }
.sidebar-nav { margin-top: 20px; padding: 0 20px;}
.sidebar-nav a { display: flex; align-items: center; gap: 15px; padding: 12px 15px; margin-bottom: 8px; border-radius: 8px; text-decoration: none; color: var(--neutral-800); font-size: 15px; font-weight: 500; }
.sidebar-nav a:hover, .sidebar-nav a.active { background-color: var(--primary-100); }
.sidebar-nav a.cart-link { background-color: var(--primary-400); color: white; justify-content: center; font-size: 24px;}
.header-actions { display: flex; align-items: center; gap: 10px; }

.logo-sidebar {
    width: 80%;
    max-width: 150px;
    margin-bottom: 20px;
}

.empty-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh; /* Ocupa una buena parte de la altura de la pantalla */
}

.empty-page-icon {
    width: 120px;
    height: auto;
    opacity: 0.6;
}

/*Estilos para la pagina "Acerca de Nosotros"*/
.about-us-container { }

.banner {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    color: white; /* El color del texto será blanco */
}

.banner-image {
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 300px; /* Ajusta la altura del banner como necesites */
    filter: brightness(60%); /* Oscurece la imagen para que el texto resalte */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.navigation-links a {
    display: inline-flex;
    padding: 8px 15px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--neutral-800);
    border-radius: 8px;
    font-weight: 500;
}

.navigation-links a.active {
    background-color: var(--primary-100);
    color: var(--primary-400);
}

/* --- Estilos para la pagina del carrito --- */
.cart-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

.invoice-card {
    background-color: var(--neutral-100);
    border-radius: 16px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.invoice-subtitle {
    text-align: center;
    color: #999;
    margin-bottom: 2rem;
    font-style: italic;
}

.total-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--neutral-800);
    margin: 0;
}

.total-price {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--neutral-900);
}

.invoice-divider {
    margin: 1.5rem 0;
}

.invoice-list {
    list-style: none;
    padding: 0;
}

.invoice-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.item-name {
    color: var(--neutral-800);
}

.item-subtotal {
    font-weight: 500;
    color: var(--neutral-900);
}

.category-tags {
  margin-top: 15px;
  margin-bottom: 25px;
}

.category-tags a {
  display: inline-block;
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 8px; /* Bordes ligeramente redondeados */
  text-decoration: none;
  font-size: var(--font-size-etiqueta);
  border: 1px solid var(--neutral-200);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.category-tags a:hover {
    background-color: #EADFF2;
}

/* estilo para las equiquetas Selecciondas */
.category-tags a.active {
  background-color: var(--primary-100);
  color: var(--primary-400);
  border-color: var(--primary-200);
  font-weight: bold;
}

/* Ocultamos el sidebar y ajustamos el layout cuando estamos en una auth-page */
.auth-page .sidebar {
    display: none;
}

.auth-page .page-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main";
}

.auth-page .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.auth-card {
    background: white;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    width: 100%;
    max-width: 480px; /* Un poco más ancho para el texto */
}

.auth-card form label {
    font-weight: bold;
    color: var(--neutral-900);
}

.auth-card .helptext {
    font-size: 0.8rem;
    color: #6c757d;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}
.auth-card .helptext ul {
    list-style: none;
    padding: 0;
}



/* Líneas decorativas en el header */
.top-header {
    position: relative;
}

.top-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--neutral-200);
}

.logo-container {
    position: relative;
    padding-left: 20px;
}

.logo-container .logo-line-vertical {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 30px; /* Altura de la línea vertical */
    background-color: var(--neutral-800);
}


.auth-title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* estilo unificado para todos los textos de ayuda del from */
.auth-card .helptext, .auth-card form p {
    font-size: 0.8rem !important;
    color: #6c757d !important;
    margin-bottom: 1rem !important;
    margin-top: -0.5rem;
}

.auth-card .helptext ul {
    list-style: none; /* Quitamos los puntos de la lista */
    padding: 0;
}

#id_password2 + .helptext {
    display: block;
    margin-top: 0.25rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 40px; /* Altura del logo */
}

.logo img {
    height: 100%;
    width: auto;
}



